# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# React Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Bundle artifacts
*.jsbundle

# CocoaPods
/ios/Pods/

# Expo
.expo/
.expo-shared/

# Testing
coverage/

# Build
/android/app/build
/android/build
/ios/build
*.apk

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Misc
.env
.env.local
.watchmanconfig
